{% include head.html %}

<body id="post">

{% include navigation.html %}

<div id="main" role="main">
  <article class="hentry" itemscope itemtype="http://schema.org/Article">
  <header class="entry-header">
      {% if page.image_feature %}<div class="entry-image">
        <img src="{{ page.image_feature }}" class="entry-feature-image" alt="{{ page.title }}" itemprop="image">
        {% if page.image.credit %}<div class="image-credit">Image source: <a href="{{ page.image.creditlink }}" itemprop="citation">{{ page.image.credit }}</a></div><!-- /.image-credit -->{% endif %}
      </div><!-- /.entry-image -->{% endif %}
      <h1 class="entry-title" itemprop="name">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
    </header>
    <div class="entry-wrapper">
      <div class="entry-content" itemprop="articleBody">
        {% if page.location %}
        <div id="map" style="height: 200px;"></div>
        {% endif %}
        {{ content }}
        {% if page.series %}{% include series.html %}{% endif %}
        <hr />
        <div class="entry-meta">
          <meta itemprop="keywords" content="{{ page.tags | join: ', ' }}">
          <span class="entry-tags">{% for tag in page.tags %}<a href="{{ site.url }}/tag/{{ tag | replace:' ','-' | downcase }}/" title="{{ tag }}" class="tag" rel="tag">{{ tag }}</a>{% endfor %}</span>
          
          {% if page.author %}
          {% assign author_name = page.author %}
          {% for writer in site.data.writers %}
            {% if writer.name == author_name or writer.github == author_name %}
              {% assign author_name = writer.name %}
              {% if writer.image %}
                {% capture author_img %}/images/writers/{{ writer.image }}.jpg{% endcapture %}
              {% elsif writer.github %}
                {% capture author_img %}https://github.com/{{ writer.github }}.png{% endcapture %}
              {% elsif writer.gravatar %}
                
              {% endif %}
            {% endif %}
          {% endfor %}
          
          
          
          <span class="author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name" class="fn"><a href="{{ site.url }}/about/" title="About {{author_name}}" itemprop="url">
            {% if author_img %}<img src="{{ author_img }}" class="image-rounded" style="height: 40px" />{% endif%}
            {{author_name}}</a></span>, </span>
          {% endif %}
          <span class="entry-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="published{% unless page.modified %} updated{% endunless %}">{{ page.date | date: "%B %d, %Y" }}</time></span>
          {% if page.modified %} <span class="entry-date">(Updated <time datetime="{{ page.modified }}" itemprop="dateModified" class="updated">{{ page.modified | date: "%m/%d/%Y" }}</time>)</span>{% endif %}
        </div><!-- /.entry-meta -->
      </div><!-- /.entry-content -->
      <div class="ads">
        {% include google-adsense.html %}
      </div><!-- /.ads -->
      <nav class="pagination" role="navigation">
        {% for post in site.categories.articles %}
          {% if post.url == page.url %}
            {% assign post_index0 = forloop.index0 %}
            {% assign post_index1 = forloop.index %}
          {% endif %}
        {% endfor %}
        {% for post in site.categories.articles %}
          {% if post_index0 == forloop.index %}
            {% assign next_post = post.url %}
          {% endif %}
          {% if post_index1 == forloop.index0 %}
            {% assign prev_post = post.url %}
          {% endif %}
        {% endfor %}
        {% if prev_post %}
          <a href="{{ prev_post }}" class="previous-link" title="Previous article"><i class="fa fa-chevron-left fa-lg"></i> <span>Previous</span></a>
        {% endif %}
          <a href="{{ site.url }}/articles/" class="archive-link"><i class="fa fa-list-ul icon-large"></i> <span>Archive</span></a>
        {% if next_post %}
          <a href="{{ next_post }}" class="next-link" title="Next article"><span>Next</span> <i class="fa fa-chevron-right fa-lg"></i></a>
        {% endif %}
    </nav><!-- /.pagination -->
    {% if page.comments %}<div id="disqus_thread" class="entry-content"></div><!-- /#disqus_thread -->{% endif %}
    </div><!-- /.entry-wrapper -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}

{% if page.location %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script type="text/javascript">
if (L) {
  var loc = '{{page.location | replace:' ',''}}';
  var locarr = loc.split(":");
  var z = (locarr[1]) ? locarr[1] : {{site.map.zoom}};
  var latlng = locarr[0].split(',');
  var map = L.map('map',{scrollWheelZoom: false}).setView(latlng, z);
  L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
  }).addTo(map);
  L.marker(latlng).addTo(map); 
}
</script>
{% endif %}

</body>
</html>
